.sidebar{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 11;
    background-color: rgba(65, 65, 65, 0.527);
    overflow-x: hidden; 
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.541);
    /* backdrop-filter: blur(10px); */
}  

@media only screen and (min-width: 669px)  {
    
    .sidebar{
        flex-direction: column;
        justify-content: space-evenly;      
        height: 100%; 
        width: 90px; 
        border-right: 1px solid rgba(255, 255, 255, 0.192);
    }  
    
    .sidebar a {
        width: 100%;
        text-align: center;
    }
    
    
    .content{
        color: rgba(255, 255, 255, 0.74);
        font-size: 10px;
        margin-top: 5px;
    }
    
    .wrapicon{
        display: flex;
    }

    .sideLink{
        text-decoration: none;
    }
}
    
@media only screen and (max-width: 668px) {

    .sidebar{
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(43, 43, 43);

        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 8vh;
        /* backdrop-filter: blur(15px); */
        border-top: 1px solid rgba(255, 255, 255, 0.226);

    }

    .sidebar a {
        color: #f2f2f2;
        padding: 14px 16px;
        text-decoration: none;
      }

      .content{
          display: none;
          color: white;
      }

    
}






