.addWrapper{
    display: grid;
    border-radius: 10px;
    margin: 40px;
    margin-top: 80px;
    margin-right: 55px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "pic form";
    background-color: rgb(141, 141, 141);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.37);
}

.pic2{
    grid-area: pic;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    background-size: cover;
    filter:brightness(70%);
    border-radius: 10px 0 0 10px;
}

.form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: form;
}



.formTitle{
   font-size: 45px;
   margin: 20px;
   margin-top: 50px;
   margin-left: 40px;
   color: rgb(0, 0, 0);
}

.inputName{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 40px;
    margin-left: 60px;
    padding-inline: 10px;
    height: 40px;
    font-size: 90%;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.inputs1{
    height: 20px;
}

.inputs2{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.titleDes{
    font-size: 20px;
    padding-inline: 10px;
}

.inputDesc{ 
    margin-top: 10px;
    margin-bottom: 30px; 
    resize: none;
    margin-inline: 40px;
    height: 80px;
    width: 600px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.5);
}

.inputDate{
    height: 40px;
    padding-inline: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 20px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 7px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.781);
    background-color: rgba(255, 255, 255, 0.5);

}

.selectRating{
    margin: 10px;
    width: 50px;
    height: 40px;
    padding-inline: 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
    color: rgba(0, 0, 0, 0.712);
}



.formContainer{
    display: flex;
    flex-direction: column;
}

.genresForm{
margin-left: 60px;
}

.cbox1{
    margin-inline: 10px;
    border: 1 solid black;
}

.titleG{
    margin-left: 160px;
}

.genreContainer{
    margin-bottom: 30px;
}




.selectPlatforms{
margin-inline: 40px;
border-radius: 7px;
}

.platForm{
    margin-inline: 40px;

}

.checkbox{
    background-color: rgba(0, 0, 0, 0.521);
    width: auto;
}

.selectGenres{
    margin-bottom: 10px;
    margin-inline: 40px;
    border-radius: 7px;
}

.buttonForm{
    margin: 20px;
    margin-left: 300px;
}

